var new_comment = $("<%= escape_javascript(render(:partial => @comment)) %>").hide();
$('#comments').prepend(new_comment);
//$('#comment_<%= @comment.id %>').fadeIn("slow");
//$('#comments')[0].reset();
// Following line does the job of the two commented lines above
new_comment.fadeIn("slow").reset();
